/* .quiz-container-bg {
    background-image: url('../img/PurpleHex.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  } */

  .quiz-container-bg {
    background: radial-gradient(circle, #270A5E, #AC00D8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }