@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.question_container {
    margin-top: 3em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.question {
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
}

.answerOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2em;
    margin: 5px;
    background: #ffa500;  
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    width: 22rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.answerOptions:hover {
    background-color: rgb(224, 111, 24);
    color: white;
}

.answerOptions.selected {
    background-color: rgb(224, 111, 24);
    color: white;
}

.answerOptions input[type="radio"]:hover+label {
    color: #ffa500;
}

input[type="radio"] {
    margin-right: 1em;
}

label {
    display: flex;
    align-items: center;
    padding: 0.2em;
}