.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(40vh - 10%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  padding-top: 2%;
  background: linear-gradient(to bottom, #270A5E, #5a009e);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-bottom: 2.2em;
  border-radius: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  margin-bottom: 2em;
}

input[type='email'],
input[type='password'] {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

button[type='submit'],
button[type='button'],
button.google-btn {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #5a009e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
}

button.google-btn {
  background-color: #fa9212;
}

button[type='button'] {
  background-color: #5a009e;
}

button[type='submit'],
button.google-btn {
  display: block;
}

button[type='button'] {
  display: block;
}

button.google-btn {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fa9212;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button.form-google-btn {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fa9212;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

button.register-btn {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #5a009e;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 20em;
  height: 20em;
  object-fit: contain;
  display: block;
  margin: -1em;
}
